<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279831183939-rjfv83fk1vutq8u7p4v8rjcvc5801b68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279831183939-rjfv83fk1vutq8u7p4v8rjcvc5801b68</string>
	<key>API_KEY</key>
	<string>AIzaSyDrcReTHFyx9CzxCIo8XpMuA4oRk-Voxls</string>
	<key>GCM_SENDER_ID</key>
	<string>279831183939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.direction</string>
	<key>PROJECT_ID</key>
	<string>directionapp-8aee1</string>
	<key>STORAGE_BUCKET</key>
	<string>directionapp-8aee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279831183939:ios:bbdbdac81b5a97d9a04af6</string>
	<key>DATABASE_URL</key>
	<string>https://directionapp-8aee1-default-rtdb.firebaseio.com</string>
</dict>
</plist>